<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title_index %><br>
    <%= f.number_field :title_index %>
  </div>
  <div class="field">
    <%= f.label :date_index %><br>
    <%= f.number_field :date_index %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :column_separator %><br>
    <%= f.text_field :column_separator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
