<article>
	<p>
		<strong>Bank:</strong>
		<%= @expense.bank.name %>
	</p>

	<p>
		<strong>Title:</strong>
		<%= @expense.title %>
	</p>

	<p>
		<strong>Operation date:</strong>
		<%= @expense.operation_date %>
	</p>

	<p>
		<strong>Value:</strong>
		<%= @expense.value %>
	</p>

	<p>
		<strong>Category:</strong>
		<%= @expense.category.name %>
	</p>
</article>
