<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @expense.bank.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Operation date:</strong>
  <%= @expense.operation_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category.try(:name) %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Next expense to sort', next_to_sort_expenses_path %> |
<%= link_to 'All expenses', expenses_path %>
