<h1>Sort expenses</h1>

<div>
	There are <strong><%= @unsorted_count %></strong> expenses to sort<br/>
	<span>
		<%= link_to 'Edit', edit_expense_path(@expense) %> |
		<%= link_to 'Destroy', @expense, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Next', next_to_sort_expenses_path(nth: @nth + 1) %>
	</span>
</div>

<p id="notice"><%= notice %></p>

<%= render 'compact' %>

<div><% @categories.each do |category| %>
	<%= form_for(@expense) do |f| %>
		<%= f.hidden_field(:category_id, value: category.id) %>
		<%= f.submit category.name %>
	<% end %>
<% end %></div>
