<h1>Expenses uploaded</h1>

<p><strong><%= @expenses_added_count %></strong> expenses were added!</p>

<p>Sort your expenses: <%= link_to 'Next expense to sort', next_to_sort_expenses_path %></p>
<p>See all expenses: <%= link_to 'Expenses', expenses_path %></p>

<h2>Upload errors</h2>
<p>There are <strong><%= @errors.count %></strong> errors.</p>
<ul><% @errors.each do |failure| %>
	<li>
		<pre><%= failure[:line] %></pre>
		This line caused the following errors: <em><%= failure[:error] %></em>
	</li>
<% end %></ul>

<h2>Ignored lines</h2>
<pre><% @ignored_lines.each do |ignored_line| %><%= ignored_line -%><% end %></pre>
