<!DOCTYPE html>
<html>
<head>
	<title>MyExpense</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>Expenses</h1>
	<div>
		<span>
			<%= link_to 'Upload', select_expenses_path %>
		</span>
		<span>
			<%= link_to 'Sort', next_to_sort_expenses_path %>
		</span>
		<span>
			<%= link_to 'Visualize', statistics_categories_path %>
		</span>
	</div>
</header>

<%= yield %>

<footer>
</footer>

</body>
</html>
